body {
  background-color: #78aee4;
  color: #ffffff;
  font-family: cursive;
}
h1 {
  font-weight: 900;
  font-size: 50px;
}

#btn {
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px, rgba(19, 200, 255, 0.733) 0px 0px 0px 9px, rgb(34, 174, 255) 0px 0px 0px 6px,
    rgb(85, 255, 218) 0px 0px 0px 12px;
}
/* #nav {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 2px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
    rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
} */
.card {
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px, rgba(19, 200, 255, 0.733) 0px 0px 0px 9px, rgb(34, 174, 255) 0px 0px 0px 6px,
    rgb(85, 255, 218) 0px 0px 0px 12px;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.form-container {
  width: 50%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px, rgba(19, 200, 255, 0.733) 0px 0px 0px 9px, rgb(34, 174, 255) 0px 0px 0px 6px,
    rgb(85, 255, 218) 0px 0px 0px 12px;
  color: #0056b3;
}

.form-container label {
  font-weight: bold;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 20px;
}
a {
  padding: 10px 20px;
  background-color: #888888;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  background-color: #0056b3;
}

button {
  padding: 10px 20px;
  background-color: #888888;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #b30000;
}

.form-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #888888;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}
